In [1]:
import pandas as pd
df=pd.read_csv("/Users/apple/Downloads/py-master/pandas/handling_missing_data_fillna_dropna_interpolate/weather_data.csv")

FileNotFoundError: [Errno 2] File b'/Users/apple/Downloads/py-master/pandas/handling_missing_data_fillna_dropna_interpolate/weather_data.csv' does not exist: b'/Users/apple/Downloads/py-master/pandas/handling_missing_data_fillna_dropna_interpolate/weather_data.csv'

In [2]:
df=pd.read_csv("/Users/apple/Downloads/py-master/pandas/-handling_missing_data_fillna_dropna_interpolate/weather_data.csv")

FileNotFoundError: [Errno 2] File b'/Users/apple/Downloads/py-master/pandas/-handling_missing_data_fillna_dropna_interpolate/weather_data.csv' does not exist: b'/Users/apple/Downloads/py-master/pandas/-handling_missing_data_fillna_dropna_interpolate/weather_data.csv'

In [3]:
df=pd.read_csv("/Users/apple/Downloads/py-master/pandas/_handling_missing_data_fillna_dropna_interpolate/weather_data.csv")

FileNotFoundError: [Errno 2] File b'/Users/apple/Downloads/py-master/pandas/_handling_missing_data_fillna_dropna_interpolate/weather_data.csv' does not exist: b'/Users/apple/Downloads/py-master/pandas/_handling_missing_data_fillna_dropna_interpolate/weather_data.csv'

In [6]:
df=pd.read_csv("/Users/apple/Downloads/py-master/pandas/5_handling_missing_data_fillna_dropna_interpolate/weather_data.csv",parse_dates=["day"])

In [7]:
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [8]:
new_df=df.fillna(0)

In [9]:
new_df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          0.0        9.0   Sunny
2 2017-01-05         28.0        0.0    Snow
3 2017-01-06          0.0        7.0       0
4 2017-01-07         32.0        0.0    Rain
5 2017-01-08          0.0        0.0   Sunny
6 2017-01-09          0.0        0.0       0
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [10]:
new_df=df.fillna({
    'temperature':0,
    'windspeed':0,
    'event':'no event'
})

In [11]:
new_df

         day  temperature  windspeed     event
0 2017-01-01         32.0        6.0      Rain
1 2017-01-04          0.0        9.0     Sunny
2 2017-01-05         28.0        0.0      Snow
3 2017-01-06          0.0        7.0  no event
4 2017-01-07         32.0        0.0      Rain
5 2017-01-08          0.0        0.0     Sunny
6 2017-01-09          0.0        0.0  no event
7 2017-01-10         34.0        8.0    Cloudy
8 2017-01-11         40.0       12.0     Sunny

In [12]:
new_df=df.fillna(method="ffill")
new_df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04         32.0        9.0   Sunny
2 2017-01-05         28.0        9.0    Snow
3 2017-01-06         28.0        7.0    Snow
4 2017-01-07         32.0        7.0    Rain
5 2017-01-08         32.0        7.0   Sunny
6 2017-01-09         32.0        7.0   Sunny
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [13]:
new_df=df.fillna(method="bfill")
new_df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04         28.0        9.0   Sunny
2 2017-01-05         28.0        7.0    Snow
3 2017-01-06         32.0        7.0    Rain
4 2017-01-07         32.0        8.0    Rain
5 2017-01-08         34.0        8.0   Sunny
6 2017-01-09         34.0        8.0  Cloudy
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [14]:
new_df=df.fillna(method="ffill",axis="columns")
new_df

,day,temperature,windspeed,event
0,2017-01-01 00:00:00,32,6,Rain
1,2017-01-04 00:00:00,2017-01-04 00:00:00,9,Sunny
2,2017-01-05 00:00:00,28,28,Snow
3,2017-01-06 00:00:00,2017-01-06 00:00:00,7,7
4,2017-01-07 00:00:00,32,32,Rain
5,2017-01-08 00:00:00,2017-01-08 00:00:00,2017-01-08 00:00:00,Sunny
6,2017-01-09 00:00:00,2017-01-09 00:00:00,2017-01-09 00:00:00,2017-01-09 00:00:00
7,2017-01-10 00:00:00,34,8,Cloudy
8,2017-01-11 00:00:00,40,12,Sunny

In [15]:
new_df=df.fillna(method="ffill",limit=1)
new_df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04         32.0        9.0   Sunny
2 2017-01-05         28.0        9.0    Snow
3 2017-01-06         28.0        7.0    Snow
4 2017-01-07         32.0        7.0    Rain
5 2017-01-08         32.0        NaN   Sunny
6 2017-01-09          NaN        NaN   Sunny
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [16]:
new_df=df.interpolate()
new_df

         day  temperature  windspeed   event
0 2017-01-01    32.000000       6.00    Rain
1 2017-01-04    30.000000       9.00   Sunny
2 2017-01-05    28.000000       8.00    Snow
3 2017-01-06    30.000000       7.00     NaN
4 2017-01-07    32.000000       7.25    Rain
5 2017-01-08    32.666667       7.50   Sunny
6 2017-01-09    33.333333       7.75     NaN
7 2017-01-10    34.000000       8.00  Cloudy
8 2017-01-11    40.000000      12.00   Sunny

In [18]:
new_df=df.interpolate(method="time")

ValueError: time-weighted interpolation only works on Series or DataFrames with a DatetimeIndex

In [19]:
new_df=df.interpolate(method = "time")
new_df

ValueError: time-weighted interpolation only works on Series or DataFrames with a DatetimeIndex

In [20]:
new_df=df.interpolate(method="day")
new_df

ValueError: invalid method 'day' to interpolate.

In [21]:
new_df=df.dropna()
new_df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [22]:
new_df=df.dropna(how="all")
new_df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [23]:
new_df=df.dropna(thresh=1)
new_df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [24]:
new_df=df.dropna(thresh=2)
new_df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [25]:
new_df=df.dropna(thresh=3)//thres is the no of valid values that should exist
new_df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
4 2017-01-07         32.0        NaN    Rain
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [26]:
dt=pd.date_range("01-01-2017","01-11-2017")
idx=pd.DatetimeIndex(dt)
df.reindex(idx)
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [27]:
dt=pd.date_range("01-01-2017","01-11-2017")
idx=pd.DatetimeIndex(dt)
df=df.reindex(idx)
df

           day  temperature  windspeed event
2017-01-01 NaT          NaN        NaN   NaN
2017-01-02 NaT          NaN        NaN   NaN
2017-01-03 NaT          NaN        NaN   NaN
2017-01-04 NaT          NaN        NaN   NaN
2017-01-05 NaT          NaN        NaN   NaN
2017-01-06 NaT          NaN        NaN   NaN
2017-01-07 NaT          NaN        NaN   NaN
2017-01-08 NaT          NaN        NaN   NaN
2017-01-09 NaT          NaN        NaN   NaN
2017-01-10 NaT          NaN        NaN   NaN
2017-01-11 NaT          NaN        NaN   NaN